/* Typographies */

@font-face {
	font-family: 'Panton';
	font-weight: bold;

	src: url('../fonts/Panton/Panton-BlackCaps.otf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;

	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;

	src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: lighter;

	src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

/* These are the base styles for the entire site, only extremely important classes or styles should go here */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
}

h1 {
	font-family: 'Panton';
}

h2, h3, h4, h5 {
	font-family: 'Open Sans';
	font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

a {
	transition: color 200ms;
	text-decoration: none;

	color: var(--detail);
}

a, button {
	cursor: pointer;
	text-decoration: none;
}

button {
	white-space: nowrap;
}

button, .btn {
	display: inline-block;

	margin: 0;
	margin-bottom: 1rem;
	padding: 0.75rem 2rem;

	text-align: center;

	border: none;
	border-radius: 3px;
	background-color: transparent;
}

button.btn {
	font-weight: bold;
}

input, textarea, select {
	padding: 0.5rem 1rem;

	transition: background 200ms, border-color 200ms;

	border: none;
	border-radius: 3px;
	background: var(--light);
}

input.input-icon {
	padding-left: 2.5rem;

	background-repeat: no-repeat;
	background-position: 3px calc(36px - 2rem);
	background-size: 2rem 2rem;
}
