/* Media queries snippets

Small only
@media screen and (max-width: 39.9375em) {}

Medium and up
@media screen and (min-width: 40em) {}

Medium only 
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

Large and up 
@media screen and (min-width: 64em) {}

Large only 
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

*/

/* Typographies */

@font-face {
	font-family: 'Panton';
	font-weight: bold;

	src: url('../fonts/Panton/Panton-BlackCaps.otf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;

	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;

	src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: lighter;

	src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

/* These are the base styles for the entire site, only extremely important classes or styles should go here */

* {
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;

	color: var(--txt-dark);
}

h1 {
	font-family: 'Panton';
}

h2, h3, h4, h5 {
	font-family: 'Open Sans';
	font-weight: bold;
}

img {
	max-height: 100%;
}

a {
	transition: color 350ms var(--ease-in-out-sine);
	text-decoration: none;

	color: var(--hint);
}

a, button {
	cursor: pointer;
}

input::placeholder, select::placeholder, textarea::placeholder {
	opacity: 0.5;
	color: currentColor;
}

input.input-icon {
	padding-left: 2.5rem;

	background-repeat: no-repeat;
	background-position: 3px calc(38px - 2rem);
	background-size: 2rem 2rem;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

ol, ul {
	margin-top: 0;
	padding-left: 1rem;
}

ul ul, ul ol, ol ol, ol ul {
	font-size: 90%;

	margin: 1.5rem 0 1.5rem 3rem;
}

li {
	margin-bottom: 1rem;
}

/* Foundation & other frameworks overrides */

button {
	line-height: 1.5;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-size: inherit;

	transition: border-color 350ms var(--ease-in-out-sine);

	box-shadow: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
	transition: border-color 350ms var(--ease-in-out-sine);

	border: 1px solid var(--hint);
	box-shadow: none;
}

select {
	font-size: inherit;

	transition: border-color 350ms var(--ease-in-out-sine);

	box-shadow: none;
}

select:focus {
	transition: border-color 350ms var(--ease-in-out-sine);

	box-shadow: none;
}

/* Button system */

button, [type='button'], [type='submit'], [type='reset'], [type='clear'], .btn {
	--color: var(--accent);

	font-weight: bold;

	display: inline-block;

	margin: 0;
	margin-bottom: 1rem;
	padding: 0.75rem 2rem;

	transition: background-color 350ms, border-color 350ms, color 350ms var(--ease-in-out-sine);
	text-align: center;

	color: var(--txt-light);
	border: 1px solid var(--color);
	border-radius: 3px;
	background-color: var(--color);
}

.btn.small {
	padding: 0.35rem 1.5rem;
}

.btn.dark {
	--color: var(--dark);
}

.btn.medium {
	--color: var(--medium);
	color: var(--txt-dark);
}

.btn.light {
	--color: var(--light);
	color: var(--txt-dark);
}

.btn.hint {
	--color: var(--hint);
}

.btn.gradient {
	border: none;
	background: var(--gradient)
}

.btn.success {
	--color: var(--success);
}

.btn.warning {
	--color: var(--warning);
}

.btn.error {
	--color: var(--error);
}

.btn.hollow {
	background-color: transparent;
}

.btn.hollow:hover {
	background-color: var(--color);
}

.btn.hollow.medium {
	color: var(--txt-light);
}

.btn.hollow.light {
	color: var(--txt-light);
}

.btn.hollow.light:hover, .btn.hollow.color-text:hover {
	color: var(--txt-dark);
}

.btn.transparent {
	border-color: transparent;
	background-color: transparent;
}

.btn.hollow.color-text,
.btn.transparent.color-text {
	color: var(--color);
}

.btn.hollow.color-text:hover {
	color: var(--txt-light);
}

.btn.round {
	border-radius: 50%;
}

/* Input styles */

.input-field {
	text-align: left;
	margin-bottom: 1rem;
}

.input-field label {
	color: var(--txt-dark);
	font-weight: bold;
	font-size: 14px;
}

.input-field input {
	margin-bottom: 0;
}

.input-field input.margin {
	margin-bottom: 1rem;
}

.input-field.error input {
	border-color: var(--error);
}

.input-field .hint {
	font-size: 11px;
	font-weight: bold;
}

.input-field.error .hint {
	color: var(--error);
}

/* Reusable components */

.nav-bar {
	z-index: 999;

	top: 0;
	left: 0;

	width: 100vw;
	height: var(--nav-height);
	position: relative;
}

.nav-bar.sticky {
	position: fixed;
}

.highlight-bar {
	display: block;

	width: 100%;
	height: 6px;

	background: var(--gradient);
}

.page-hero {
	height: 90vh;

	background-attachment: fixed;
}

.page-hero-backdrop {
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 64em) {
	.page-hero {
		height: 70vh;
	}
}

.box-shadow {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.v--modal {
	background: var(--light) !important;
}

.v--modal-overlay {
	display: flex;

	flex-flow: row nowrap;

	background: rgba(0, 0, 0, 0.45) !important;

	align-items: center;
	justify-content: center;
}

.v--modal-box {
	top: 0 !important;
	left: 0 !important;

	overflow: hidden;

	width: 100% !important;
	max-width: 60rem;
	height: auto !important;
	margin: 1rem;
}
