/* These are a collection of generic utility classes, it is prefferred that we use these before we decide to create an entire custom class to maintain reusability */

/* Display */

.display--inline-block {
	display: inline-block;
}

.display--inline {
	display: inline;
}

.display--block {
	display: block;
}

.display--flex {
	display: flex;
}

.display--inline-flex {
	display: inline-flex;
}

.display--grid {
	display: grid;
}

/* Flex */

.flex--row-wrap {
	display: flex;

	flex-flow: row wrap;
}

.flex--row-no-wrap {
	display: flex;

	flex-flow: row nowrap;
}

.flex--column-wrap {
	display: flex;

	flex-flow: column wrap;
}

.flex--column-no-wrap {
	display: flex;

	flex-flow: column nowrap;
}

.flex_direction--row {
	flex-direction: row;
}

.flex_direction--column {
	flex-direction: column;
}

.flex_wrap--wrap {
	flex-wrap: wrap;
}

.flex_wrap--no-wrap {
	flex-wrap: nowrap;
}

.flex_grow--grow {
	flex-grow: 1;
}

.flex_grow--not-grow {
	flex-grow: 0;
}

.flex_shrink--shrink {
	flex-shrink: 1;
}

.flex_shrink--not-shrink {
	flex-shrink: 0;
}

/* Flex alignment */

.flex_align--center {
	align-items: center;
	justify-content: center;
}

.align_items--center {
	align-items: center;
}

.align_items--stretch {
	align-items: stretch;
}

.align_items--flex-start {
	align-items: flex-start;
}

.align_items--flex-end {
	align-items: flex-end;
}

.justify_content--center {
	justify-content: center;
}

.justify_content--flex-start {
	justify-content: flex-start;
}

.justify_content--flex-end {
	justify-content: flex-end;
}

.justify_content--space-around {
	justify-content: space-around;
}

.justify_content--space-between {
	justify-content: space-between;
}

/* Containers */

.container_flex--center {
	display: flex;

	flex-wrap: nowrap;

	align-items: center;
	justify-content: center;
}

/* Position */

.position--relative {
	position: relative;
}

.position--absolute {
	position: absolute;
}

.position--fixed {
	position: fixed;
}

.position--top-left {
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
}

.position--bottom-left {
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
}

.position--top-right {
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
}

.position--bottom-right {
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}

.position--center {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Overflow and visibility */

.overflow--hidden {
	overflow: hidden;
}

.overflow--visible {
	overflow: visible;
}

.overflow--scroll {
	overflow: scroll;
}

.overflow--auto {
	overflow: auto;
}

.object_fit--cover {
	object-fit: cover;
}

.object_fit--contain {
	object-fit: contain;
}

.object_fit--fill {
	object-fit: fill;
}

/* Sizes */

.size--fill-viewport {
	width: 100vw;
	height: 100vh;
}

.size--fill-parent {
	width: 100%;
	height: 100%;
}

.height--viewport {
	height: 100vh;
}

.width--viewport {
	width: 100vw;
}

.height--parent {
	height: 100%;
}

.width--parent {
	width: 100%;
}

/* Margin and padding */

/* Margins composed */

.margin--all-none {
	margin: 0;
}

.margin--all-one {
	margin: 1rem;
}

.margin--h-auto {
	margin-right: auto;
	margin-left: auto;
}

.margin--v-auto {
	margin-top: auto;
	margin-bottom: auto;
}

/* Margin individuals */

.margin_top--one {
	margin-top: 1rem;
}

.margin_top--two {
	margin-top: 2rem;
}

.margin_top--auto {
	margin-top: auto;
}

.margin_right--one {
	margin-right: 1rem;
}

.margin_right--two {
	margin-right: 2rem;
}

.margin_right--auto {
	margin-right: auto;
}

.margin_bottom--one {
	margin-bottom: 1rem;
}

.margin_bottom--two {
	margin-bottom: 2rem;
}

.margin_bottom--auto {
	margin-bottom: auto;
}

.margin_left--one {
	margin-left: 1rem;
}

.margin_left--two {
	margin-left: 2rem;
}

.margin_left--auto {
	margin-left: auto;
}

/* Paddings composed */

.padding--all-none {
	padding: 0;
}

.padding--all-one {
	padding: 1rem;
}

.padding--h-one {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding--h-two {
	padding-left: 2rem;
	padding-right: 2rem;
}

.padding--v-one {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.padding--v-two {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* Padding individuals */

.padding_top--one {
	padding-top: 1rem;
}

.padding_top--two {
	padding-top: 2rem;
}

.padding_top--auto {
	padding-top: auto;
}

.padding_right--one {
	padding-right: 1rem;
}

.padding_right--two {
	padding-right: 2rem;
}

.padding_right--auto {
	padding-right: auto;
}

.padding_bottom--one {
	padding-bottom: 1rem;
}

.padding_bottom--two {
	padding-bottom: 2rem;
}

.padding_bottom--auto {
	padding-bottom: auto;
}

.padding_left--none {
	padding-left: 0;
}

.padding_left--one {
	padding-left: 1rem;
}

.padding_left--two {
	padding-left: 2rem;
}

.padding_left--auto {
	padding-left: auto;
}

/* Text colors */

.text_color--dark {
	color: var(--txt-dark);
}

.text_color--medium {
	color: var(--txt-medium);
}

.onHover-text_color--medium:hover {
	color: var(--txt-medium);
}

.text_color--light {
	color: var(--txt-light);
}

.onHover-text_color--light:hover {
	color: var(--txt-light);
}

.text_color--accent {
	color: var(--accent);
}

.onHover-text_color--accent:hover {
	color: var(--accent);
}

.text_color--hint {
	color: var(--hint);
}

.onHover-text_color--hint:hover {
	color: var(--hint);
}

.text_color--success {
	color: var(--success);
}

.text_color--warning {
	color: var(--warning);
}

.text_color--error {
	color: var(--error);
}

/* Text alignment */

.text_align--center {
	text-align: center;
}

.text_align--left {
	text-align: left;
}

.text_align--right {
	text-align: right;
}

/* Backgrounds */

.background_color--dark {
	background: var(--dark);
}

.background_color--medium {
	background: var(--medium);
}

.background_color--light {
	background: var(--light);
}

.background_color--hint {
	background: var(--hint);
}

.background_color--accent {
	background: var(--accent);
}

.background_color--gradient {
	background: linear-gradient(45deg, var(--accent-light) 0%, var(--hint) 100%);
	border: none;
}

.background_size--cover {
	background-size: cover;
}

.background_size--contain {
	background-size: contain;
}

.background_repeat--repeat {
	background-repeat: repeat;
}

.background_repeat--no-repeat {
	background-repeat: no-repeat;
}

/* Font styles */

.font_family--title {
	font-family: 'Panton';
}

.font_family--subtitle {
	font-family: 'Open Sans';
	font-weight: bold;
}

.font_family--regular {
	font-family: 'Open Sans';
}

.font_weight--normal {
	font-weight: normal;
}

.font_weight--bold {
	font-weight: bold;
}

.font_weight--lighter {
	font-weight: lighter;
}
